<template>
    <div class="main-content">
        <section class="section">
            <div class="section-header">
                <h1>Edit Produk Keluar</h1>
                <div class="section-header-breadcrumb">
                    <div class="breadcrumb-item active">
                        <router-link :to='{ name: "Homepage" }'>
                            Dashboard
                        </router-link>
                    </div>
                    <div class="breadcrumb-item">Edit Produk Keluar</div>
                </div>
            </div>

            <form @submit.prevent="update">
                <div class="card-body">
                    <div class="form-group">
                        <label>Produk</label>
                        <select class="form-control" v-model="product_keluar.product_id" required>
                            <option disabled value="">Pilih satu product yaa...</option>
                            <option v-for="product in products" :key="product.id" :value="product.id"> {{
                                    product.product_nama
                            }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Customer</label>
                        <select class="form-control" v-model="product_keluar.customer_id" required>
                            <option disabled value="">Pilih satu customer yaa...</option>
                            <option v-for="customer in customers" :key="customer.id" :value="customer.id"> {{
                                    customer.customer_nama
                            }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Stok</label>
                        <input type="number" min="1" oninput="this.value = Math.abs(this.value)" class="form-control" v-model="product_keluar.qty" required>
                    </div>
                    <div class="form-group">
                        <label>Harga Satuan Jual</label>
                        <input type="number" oninput="this.value = Math.abs(this.value)" class="form-control" v-model="product_keluar.harga_jual" required>
                    </div>
                    <div class="form-group">
                        <label>Tanggal keluar</label>
                        <input type="date" class="form-control" v-model="product_keluar.tanggal" required>
                    </div>
                </div>
                <div class="card-body text-right">
                    <input class="btn btn-primary mr-2" type="submit" value="Submit">
                    <router-link :to='{ name: "List_product_keluar" }' class="btn btn-danger">
                        Batal
                    </router-link>
                </div>
            </form>
        </section>
    </div>
</template>

<script>
export default {
    name: "Edit_product_keluar",

    data() {
        return {
            product_keluar: {
                product_id: "",
                customer_id: "",
                qty: "",
                harga_jual: "",
                tanggal: "",
                _method: "patch"
            }
        }
    },
    computed: {
        products() {
            return this.$store.state.products
        },
        customers() {
            return this.$store.state.customers
        },
    },
    mounted() {
        this.showProduct_keluar();
        this.getProducts();
        this.getCustomers();
    },
    methods: {
        async showProduct_keluar() {
            await this.axios.get(`/api/product_keluars/${this.$route.params.id}`).then(response => {
                const { id, product_id, customer_id, qty, harga_jual, tanggal } = response.data
                this.product_keluar.id = id
                this.product_keluar.product_id = product_id,
                    this.product_keluar.customer_id = customer_id,
                    this.product_keluar.qty = qty,
                    this.product_keluar.harga_jual = harga_jual,
                    this.product_keluar.tanggal = tanggal
            }).catch(error => {
                console.log(error)
            })
        },

        async update() {
            await this.axios.patch(`/api/product_keluars/${this.$route.params.id}`, this.product_keluar).then(response => {
                this.$router.push({ name: "List_product_keluar" })
            }).catch(error => {
                console.log(error)
            })
        },
        getProducts() {
            this.$store.dispatch('getProducts');
        },

        getCustomers() {
            this.$store.dispatch('getCustomers');
        },
    }
}
</script>
