<template>
<div class="main-sidebar sidebar-style-2" tabindex="1" >
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="javascript:void(0)">Inventory</a>
        </div>
        <div class="sidebar-brand sidebar-brand-sm">
            <a href="javascript:void(0)">INV</a>
        </div>
        <ul class="sidebar-menu">
            <li class="menu-header">Dashboard</li>
            <li>
                <router-link class="nav-link" :to="{ name: 'Homepage' }">
                    <i class="fas fa-fire"></i>
                    <span>Dashboard</span>
                </router-link>
            </li>

            <li class="menu-header">Product</li>
            <li>
                <router-link class="nav-link" :to="{ name: 'List_product' }">
                    <i class="fas fa-th"></i>
                        <span>Daftar Produk</span>
                </router-link>
            </li>

            <li class="menu-header">Kategori</li>
            <li>
                <router-link class="nav-link" :to="{ name: 'List_category' }">
                    <i class="fas fa-th-large"></i>
                    <span>Daftar Kategori</span>
                </router-link>
            </li>

            <li class="menu-header">Customer</li>
            <li>
                <router-link class="nav-link" :to="{ name: 'List_customer' }">
                    <i class="far fa-user"></i>
                    <span>Daftar Customer</span>
                </router-link>
            </li>

            <li class="menu-header">Supplier</li>
            <li>
                <router-link class="nav-link" :to="{ name: 'List_supplier' }">
                    <i class="far fa-user"></i>
                    <span>Daftar Supplier</span>
                </router-link>
            </li>

            <li class="menu-header">Laporan</li>
            <li>
                <router-link class="nav-link" :to="{ name: 'List_product_masuk' }">
                    <i class="far fa-file-alt"></i>
                    <span>Produk Masuk</span>
                </router-link>
            </li>
            <li>
                <router-link class="nav-link" :to="{ name: 'List_product_keluar' }">
                    <i class="far fa-file-alt"></i>
                    <span>Produk Keluar</span>
                </router-link>
            </li>
        </ul>
    </aside>
</div>
</template>

<script>
export default {
    name: 'sidebar'
}
</script>
