<template>
    <div class="main-content">
        <section class="section">
            <div class="section-header">
                <h1>Tambah Supplier</h1>
                <div class="section-header-breadcrumb">
                    <div class="breadcrumb-item active">
                        <router-link :to='{ name: "Homepage" }'>
                            Dashboard
                        </router-link>
                    </div>
                    <div class="breadcrumb-item">
                        <router-link :to='{ name: "List_supplier" }'>
                            Supplier
                        </router-link>
                    </div>
                    <div class="breadcrumb-item">Tambah Supplier</div>
                </div>
            </div>

            <form @submit.prevent="create">
                <div class="card-body">
                    <div class="form-group">
                        <label>Nama Supplier</label>
                        <input type="text" class="form-control" placeholder="Siapa nama Suppliernya?" v-model="supplier.supplier_nama" required>
                    </div>
                    <div class="form-group">
                        <label>Alamat</label>
                        <input type="text" class="form-control" placeholder="Dimana alamat lengkapnya?"
                            v-model="supplier.supplier_alamat" required>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" placeholder="Masukan emailnya!!" v-model="supplier.email" required>
                    </div>
                    <div class="form-group">
                        <label>No. HP</label>
                        <input type="text" class="form-control" placeholder="Masukan No. HPnya!!" v-model="supplier.supplier_telepon" required>
                    </div>
                </div>
                <div class="card-body text-right">
                    <input class="btn btn-primary mr-2" type="submit" value="Submit">
                    <router-link :to='{ name: "List_supplier" }' class="btn btn-danger">
                        Batal
                    </router-link>
                </div>
            </form>

        </section>
    </div>
</template>

<script>
export default {
    name: "Add_supplier",

    data() {
        return {
            supplier: {
                supplier_nama: "",
                supplier_alamat: "",
                email: "",
                supplier_telepon: "",
            }
        }
    },

    methods: {
        async create() {
            await this.axios.post('/api/suppliers', this.supplier).then(response => {
                this.$router.push({ name: "List_supplier" })
            }).catch(error => {
                console.log(error)
            })
        }
    }
}
</script>
