<template>
    <div class="main-content">
        <section class="section">
            <div class="section-header">
                <h1>Daftar Supplier</h1>
                <div class="section-header-breadcrumb">
                    <div class="breadcrumb-item active">
                        <router-link :to='{ name: "Homepage" }'>
                            Dashboard
                        </router-link>
                    </div>
                    <div class="breadcrumb-item">
                        <router-link :to='{ name: "List_supplier" }'>
                            Supplier
                        </router-link>
                    </div>
                    <div class="breadcrumb-item">Daftar Supplier</div>
                </div>
            </div>
            <div class="card-body">
                <router-link :to='{ name: "Add_supplier" }' class="btn btn-primary">
                    Tambah Supplier
                </router-link>
            </div>


            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h4>Supplier</h4>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive table-invoice">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th>No</th>
                                            <th>Nama Supplier</th>
                                            <th>Alamat</th>
                                            <th>Email</th>
                                            <th>No. HP</th>
                                            <th>Aksi</th>
                                        </tr>
                                        <tr v-for="(supplier,index) in suppliers" :key="index">
                                            <td>{{index+1}}</td>
                                            <td>{{ supplier.supplier_nama}}</td>
                                            <td>{{ supplier.supplier_alamat}}</td>
                                            <td>{{ supplier.email}}</td>
                                            <td>{{ supplier.supplier_telepon}}</td>
                                            <td>
                                                <router-link :to='{ name: "Edit_supplier", params: { id: supplier.id }}' class="btn btn-warning">Edit
                                                </router-link>
                                                <button class="btn btn-danger" @click="deleteSupplier(supplier)">Hapus</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</template>

<script>

export default {
    computed: {
        suppliers() {
            return this.$store.state.suppliers
        },
    },
    mounted() {

        this.getSuppliers();
    },
    methods: {
        getSuppliers() {
            this.$store.dispatch('getSuppliers');
        },
        deleteSupplier(supplier) {
            this.$store.dispatch('deleteSupplier', supplier.id);
        }
    },
}

</script>
